{% extends "admin_customization/Index.html" %}

{% block title %}
    {{ site_header }} Services Page
{% endblock %}

{% block admin_content %}
    <div class="container mt-5">
        <div class="container mt-5">
            <h2>{{ site_header }} Services Page</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{{ action }} Services</button>
                <a href="{% url 'service' %}" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
