{% extends "admin_customization/Index.html" %}

{% load static %}

{% block title %}
Service
{% endblock %}

{% block admin_content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h6>Service Pages</h6>
                    <a href="{% url 'add_service_page' %}" class="btn btn-primary">Add Service Page</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">banner image</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">left image</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Right image</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service_page in service_pages %}
                                <tr>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ service_page.titel }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ service_page.page_description }}</p>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% if service_page.service_banner_image %}
                                                    <img src="{{ service_page.service_banner_image.url }}" class="avatar avatar-sm me-3" alt="Service Icon">
                                                {% else %}
                                                    <img src="{% static 'admin_customization/img/marie.jpg' %}" class="avatar avatar-sm me-3" alt="Default Icon">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% if service_page.service_left_image %}
                                                    <img src="{{ service_page.service_left_image.url }}" class="avatar avatar-sm me-3" alt="Service Icon">
                                                {% else %}
                                                    <img src="{% static 'admin_customization/img/marie.jpg' %}" class="avatar avatar-sm me-3" alt="Default Icon">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% if service_page.service_right_image %}
                                                    <img src="{{ service_page.service_right_image.url }}" class="avatar avatar-sm me-3" alt="Service Icon">
                                                {% else %}
                                                    <img src="{% static 'admin_customization/img/marie.jpg' %}" class="avatar avatar-sm me-3" alt="Default Icon">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'edit_service_page' service_page.id %}" class="badge badge-sm bg-gradient-success" data-toggle="tooltip" data-original-title="Edit Service Page">
                                            Edit
                                        </a>
                                        <a href="{% url 'delete_service_page' service_page.id %}" class="badge badge-sm bg-gradient-danger" onclick="return confirm('Are you sure you want to delete this service page?')">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h6>Services List</h6>
                    <a href="{% url 'add_service'%}" class="btn btn-primary">Add Service</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Icon</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">description</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">skills</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created At</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in service_obj %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                {% if obj.icon %}
                                                    <img src="{{ obj.icon.url }}" class="avatar avatar-sm me-3" alt="Service Icon">
                                                {% else %}
                                                    <img src="{% static 'admin_customization/img/apple-icon.png' %}" class="avatar avatar-sm me-3" alt="Default Icon">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{ obj.name }}</p>
                                    </td>
                                    <td class="text-wrap w-30">
                                        <p class="text-xs font-weight-bold mb-0">{{ obj.description|truncatewords:5 }}</p>
                                    </td>
                                    <td class="text-wrap w-30">
                                        <p class="text-secondary text-xs font-weight-bold">{{ obj.skills|truncatewords:5 }}</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="text-secondary text-xs font-weight-bold">{{ obj.created_at }}</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'edit_service' obj.id %}" class="badge badge-sm bg-gradient-success" data-toggle="tooltip" data-original-title="Edit Service">
                                            Edit
                                        </a>
                                        <a href="{% url 'delete_service' obj.id %}" class="badge badge-sm bg-gradient-danger" data-toggle="tooltip" data-original-title="Delete Service">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h6>Talents</h6>
                    <a href="{% url 'add_skill' %}" class="btn btn-primary">Add Skill</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Skills</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete Skills</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for skill_obj in skills_obj %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2">
                                            <div class="my-3">
                                                <h6 class="mb-0 text-sm">{{ skill_obj }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                      <a href="{% url 'delete_skill' skill_obj.id %}" class="badge badge-sm bg-gradient-danger" onclick="return confirm('Are you sure you want to delete this skill?')">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
