{% extends "main/Layout.html" %}
{% load static %}

{% block title %}
Create Blog Post
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/social_icon.css' %}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/studentpost.css' %}">
{% endblock %}

{% block content %}
<section class="container my-5">
    <h2 class="mb-4 fw-bold">Post a Project Blog</h2>
    <form id="postBlogForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ blog_post_form.non_field_errors }}
        <div class="mb-3">
            <label for="blogImage" class="form-label">Upload Image</label>
            {{ blog_post_form.blog_image }}
        </div>
        <div class="mb-3">
            <label for="blogTitle" class="form-label">Blog Title</label>
            {{ blog_post_form.title }}
        </div>
        <div class="mb-3">
            <label for="authorName" class="form-label">Author Name</label>
            {{ blog_post_form.author }}
        </div>
        <div class="mb-3">
            <label for="publicationDate" class="form-label">Publication Date</label>
            {{ blog_post_form.publication_date }}
        </div>
        <div class="mb-3">
            <label for="blogContent" class="form-label">Blog Content</label>
            {{ blog_post_form.content }}
        </div>
        <hr>
        {% comment %} candidate_preference_form {% endcomment %}
        <h3 class="mt-5 fw-bold">Candidate Preference</h3>
        <div class="mb-3">
            <label for="serviceTitle" class="form-label">Service Title</label>
            {{ candidate_preference_form.service_title }}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            {{ candidate_preference_form.description }}
        </div>
        <div class="mb-3">
            <label for="deliveryTime" class="form-label">Delivery Time</label>
            {{ candidate_preference_form.delivery_time }}
        </div>
        <div class="mb-3">
            <label for="revisions" class="form-label">Project Revisions</label>
            {{ candidate_preference_form.revisions }}
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            {{ candidate_preference_form.price }}
        </div>
        <button type="submit" class="px-3"><span>Create</span></button>
    </form>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea.tinymce',
        menubar: false,
        plugins: 'link code',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code'
    });
</script>
{% endblock %}
