<!-- payment_successful.html -->
{% extends "main/Layout.html" %}
{% block title %}
Payment Successful
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-5">
        <h1>Payment Successful</h1>
        <p>Thank you for your payment. Your transaction has been completed successfully.</p>
    </div>
    <div class="mb-5">
        <button onclick="goHome()" class="px-3"><span>Go Back to Home</span></button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function goHome() {
        window.location.href = '/';  // Update this to the correct URL path for your home page if needed
    }
</script>
{% endblock %}
