<!-- payment_successful.html -->
{% extends "main/Layout.html" %}
{% block title %}
Payment Successful
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-5">
        <h1>Payment Successful</h1>
        <p>Thank you for your payment. Your transaction has been completed successfully.</p>
        <p><strong>Payment ID:</strong> {{ payment_id }}</p>
    </div>
    <div class="mb-5">
        <button onclick="goBack()" class="px-3"><span>Go Back</span></button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
