{% extends "main/Layout.html" %}
{% load static %}

{% block title %}
User Profile Form
{% endblock %}

{% block content %}
<section class="ezy__signup14 light d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="ezy__signup14-form-card p-3">
                    <div class="row">
                        <div class="col-12 mt-4 mt-lg-0">
                            <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 p-2">
                                <h2 class="ezy__signup14-heading">USER PROFILE FORM</h2>
                                <form class="mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if request.session.user_role == "Candidate" %}
                                      {% if error_messages %}
                                      <div class="alert alert-danger" role="alert">
                                          <ul>
                                              {% for field, errors in error_messages.items %}
                                              <li>{{ field }}: {{ errors }}</li>
                                              {% endfor %}
                                          </ul>
                                      </div>
                                      {% endif %}
                                    <div class="form-group position-relative mb-3">
                                        {% if user_profile.profile_image %}
                                        <img id="profileImagePreview" src="{{ user_profile.profile_image.url }}" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
                                        {% endif %}
                                        {{ form.profile_image }}
                                        <label class="user-label" for="profile_image">Profile Image</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.dob }}
                                        <label class="user-label" for="dob">Date of Birth</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.address }}
                                        <label class="user-label" for="address">Address</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.experience }}
                                        <label class="user-label" for="experience">Experience</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                      {{ form.position }}
                                      <label class="user-label" for="position">Position</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.skills }}
                                        <label class="user-label" for="skills">Skills</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.languages }}
                                        <label class="user-label" for="languages">Languages</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.education }}
                                        <label class="user-label" for="education">Education</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.vat_id }}
                                        <label class="user-label" for="vat_id">VAT ID No</label>
                                    </div>

                                    {% elif request.session.user_role == "Recruiter"  %}
                                    <div class="form-group position-relative mb-3">
                                        {% if user_profile.profile_image %}
                                          {% if error_messages %}
                                          <div class="alert alert-danger" role="alert">
                                              <ul>
                                                  {% for field, errors in error_messages.items %}
                                                  <li>{{ field }}: {{ errors }}</li>
                                                  {% endfor %}
                                              </ul>
                                          </div>
                                          {% endif %}
                                        <img id="profileImagePreview" src="{{ user_profile.profile_image.url }}" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
                                        {% endif %}
                                        {{ form.profile_image }}
                                        <label class="user-label" for="profile_image">Profile Image</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.address }}
                                        <label class="user-label" for="address">Address</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.position }}
                                        <label class="user-label" for="position">Position</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.vat_id }}
                                        <label class="user-label" for="vat_id">VAT ID No</label>
                                    </div>
                                    {% endif %}
                                    <button type="submit" class="px-3"><span>Save</span></button>
                                    <!-- Messages -->
                                    {% for message in messages %}
                                    <div class="text-red-500">{{ message }}</div> <br>
                                    {% endfor %}                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('id_profile_image').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('profileImagePreview').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    };
</script>
{% endblock %}
