{% extends "main/Layout.html" %}
{% load static %}

{% block title %}
Edit Profile Form
{% endblock %}

{% block content %}
<section class="ezy__signup14 light d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="ezy__signup14-form-card p-3">
                    <div class="row">
                        <div class="col-12 mt-4 mt-lg-0">
                            <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 p-2">
                                <h2 class="ezy__signup14-heading">USER PROFILE FORM</h2>
                                <form class="mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if 'edit_profile' in message.tags %}
                                                <div class="alert {{ message.tags }}">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    
                                    <div class="form-group position-relative mb-3">
                                        {% if form.profile_image.value %}
                                            <img id="profileImagePreview" src="{{ form.profile_image.value.url }}" alt="Profile Image" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
                                        {% elif user_profile.profile_image %}
                                            <img id="profileImagePreview" src="{{ user_profile.profile_image.url }}" alt="Profile Image" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
                                        {% else %}
                                            <img id="profileImagePreview" src="{% static 'assets/requiter2.jpg' %}" alt="Default Profile Image" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
                                        {% endif %}
                                        {{ form.profile_image }}
                                        <label class="user-label" for="profile_image">Profile Image</label>
                                    </div>
                                    
                                    {% if request.session.user_role == "Candidate" %}
                                        <div class="form-group position-relative mb-3">
                                            {{ form.resume }}
                                            <label class="user-label" for="resume">Upload Resume</label>
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            {{ form.dob }}
                                            <label class="user-label" for="dob">Date of Birth</label>
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            {{ form.experience }}
                                            <label class="user-label" for="experience">Experience</label>
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            {{ form.skills }}
                                            <label class="user-label" for="skills">Skills</label>
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            {{ form.languages }}
                                            <label class="user-label" for="languages">Languages</label>
                                        </div>
                                        <div class="form-group position-relative mb-3">
                                            {{ form.education }}
                                            <label class="user-label" for="education">Education</label>
                                        </div>
                                    {% endif %}
                                    
                                    <div class="form-group position-relative mb-3">
                                        {{ form.country }}
                                        <label class="user-label" for="address">Country</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.state }}
                                        <label class="user-label" for="address">State</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.city }}
                                        <label class="user-label" for="address">City</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.address }}
                                        <label class="user-label" for="address">Address</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.postal_code }}
                                        <label class="user-label" for="address">Postal Code</label>
                                    </div>
                                    <div class="form-group position-relative mb-3">
                                        {{ form.position }}
                                        <label class="user-label" for="position">Position</label>
                                    </div>
                                    
                                    <button type="submit" class="px-3"><span>Save</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // JavaScript to preview profile image
    document.getElementById('id_profile_image').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
                document.getElementById('profileImagePreview').setAttribute('src', event.target.result);
            }
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}
