{% extends "main/Layout.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/social_icon.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar">
          <h3 class="mb-4">Profile</h3>
          {% if request.session.user_role == "Candidate" %}
            <a href="#" id="myInfoLink" class="active">My Info</a>
            <a href="#" id="projectsLink">Projects / Experience</a>
            <a href="#" id="testLink">Take your Test</a>
            <a href="#" id="projectProgressLink">Project Progress</a>
            {% elif request.session.user_role == "Recruiter" %}
            <a href="#" id="myInfoLink" class="active">My Info</a>
            <a href="#" id="projectProgressLink">Project Progress</a>
            <a href="#" id="billingLink">Billing & Payments</a>
            {% comment %} <a href="#" id="billingLink">Billing & Payments</a> {% endcomment %}
          {% endif %}
        </div>

        <div class="col-md-9 main-content">
          <div id="myInfoSection" class="content-section active">
            <h4 class="section-heading">My Info</h4>
            <p>{{ user.role }} Account</p>
            <div class="card card-custom mb-4">
                <h5>Account</h5>
                <div class="d-flex align-items-center">
                    <div class="profile" style="margin-right: 15px;">
                      <img src="{% if user_profile.profile_image %}{{ user_profile.profile_image.url }}{% else %}{% static 'assets/requiter2.jpg' %}{% endif %}" alt="Profile" class="profile-image">
                    </div>
                    <div>
                        <p class="mb-1 profile_name">{{ user.first_name }} {{ user.last_name }}</p>
                        <p class="mb-1">{{ user_profile.position }}</p>
                        <small>Email: {{ user.email }}</small>
                    </div>
                </div>
            </div>

            <div class="card card-custom mb-4">
                <h5>Profile details</h5>
                <div class="d-flex">
                    <div class="profile" style="margin-right: 15px;">
                      <img src="{% if user_profile.profile_image %}{{ user_profile.profile_image.url }}{% else %}{% static 'assets/requiter2.jpg' %}{% endif %}" alt="Profile" class="profile-image">
                    </div>
                    <div>
                        <p class="profile_detailes"><span>Name :</span><br>{{ user.first_name }} {{ user.last_name }}</p>
                        {% if request.session.user_role == "Candidate" %}
                          <p class="profile_detailes"><span>Date of Birth :</span><br>{{ user_profile.dob }}</p>
                          <p class="profile_detailes"><span>Phone :</span><br>{{ user.phone }}</p>
                          <p class="profile_detailes"><span>Address :</span><br>{{ user_profile.address }}</p>
                          <p class="profile_detailes"><span>Position:</span><br>{{ user_profile.position }}</p>
                          <p class="profile_detailes"><span>Experience :</span><br>{{ user_profile.experience }}</p>
                          <p class="profile_detailes"><span>Skills :</span><br>{{ user_profile.skills }}</p>
                          <p class="profile_detailes"><span>Language :</span><br>{{ user_profile.languages }}</p>
                          <p class="profile_detailes"><span>Education :</span><br>{{ user_profile.education }}</p>
                        {% elif request.session.user_role == "Recruiter" %}
                          <p class="profile_detailes"><span>Phone :</span><br>{{ user.phone }}</p>
                          <p class="profile_detailes"><span>Address :</span><br>{{ user_profile.address }}</p>
                          <p class="profile_detailes"><span>Position:</span><br>{{ user_profile.position }}</p>
                        {% endif %}
                    </div>
                    <div class="ml-auto" style="display: flex; right: 20px; position: absolute;">
                        <a href="{% url 'profile_edit' %}"><span class="edit-icon"><i class="fa-regular fa-pen-to-square"></i></span></a>
                    </div>
                </div>
                {% if request.session.user_role == "Candidate" %}
                  <div>
                    <h5 class="balance m-3">Attempts left : <span>3</span></h5>
                  </div>
                {% endif %}
            </div>

            {% if request.session.user_role == "Candidate" %}
              <div class="card card-custom mb-4">
                <h5>Resume</h5>
                <div class="d-flex justify-content-between">
                  <div>
                    {% if user_profile.resume %}
                      <button type="button" class="px-3" onclick="viewResume('{{ user_profile.resume.url }}')">
                        <span>View Resume</span>
                      </button>
                    {% else %}
                      <p>No resume uploaded.</p>
                    {% endif %}
                  </div>
                </div>
              </div>            
            {% endif %}
          </div>

          <div id="projectsSection" class="content-section">
            <h4 class="section-heading">Projects / Experience</h4>
            <p>Below is a summary of my professional projects and experiences:</p>
            {% if project_experiences %}
            {% for project in project_experiences %}
                <div class="card card-custom mb-4">
                    <h5 class="mb-3">Project {{ project.project_number }}: <span>{{ project.title }}</span></h5>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex">
                          <div class="profile" style="margin-right: 15px;">
                              <img src="{% if user_profile.profile_image %}{{ user_profile.profile_image.url }}{% else %}{% static 'assets/requiter2.jpg' %}{% endif %}" alt="Profile" class="profile-image">
                          </div>
                          <div>
                              <p><strong>Contribution:</strong>{{ project.contribution }}</p>
                              <p><strong>Technologies:</strong>{{ project.technologies }}</p>
                              <p><strong>Description:</strong>{{ project.description|safe }}</p>
                          </div>
                        </div>
                        <div>
                          <a href="{% url 'delete_project_experience' project_experience_id=project.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this project experience?');">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a href="{% url 'add_project' %}"><button type="button" class="px-3" data-toggle="modal" data-target="#addProjectModal"><span>Add Project / Experience</span></button></a>
            {% else %}
                <div class="no-projects">
                    <p>No projects or experiences to display.</p>
                    <a href="{% url 'add_project' %}"><button type="button" class="px-3" data-toggle="modal" data-target="#addProjectModal"><span>Add Project / Experience</span></button></a>
                </div>
            {% endif %}
        
          </div>

          <div id="testSection" class="content-section">
            <h4 class="section-heading">Take your Test</h4>
            <p>Start your test and submit your answer link below:</p>
            <div class="card card-custom mb-4">
              <div class="d-flex align-items-center">
                <a href="{% url 'rules_and_regulations' %}"><button type="button" class="px-3"><span>Start Test</span></button></a>
              </div>
            </div>
            <div class="card card-custom mb-4">
              <div class="form-group mb-4">
                <label for="answerLink" class="mb-2">Submit your answer link:</label>
                <input type="url" class="form-control" id="answerLink" placeholder="Enter the link to your test answer">
              </div>
              <div class="d-flex align-items-center">
                <button type="button" class="px-3" id="submitAnswerLinkButton"><span>Submit Link</span></button>
              </div>
            </div>
          </div>

          <div id="projectProgressSection" class="content-section">
            {% if request.session.user_role == "Recruiter" %}
              <h5>Your Assigned Projects:</h5>
              <p>Track your project progress</p>
              {% if projects %}
                  {% for project in projects %}
                      <a href="{% url 'project_progress' project_id=project.id %}" style="text-decoration: none;color: #000;">
                          <div class="card card-custom mb-4 d-flex flex-row">
                              {% if project.image %}
                              <div class="project-image" style="margin-right: 15px;">
                                  <img src="{{ project.image.url }}" alt="Project Image" class="project-image-thumbnail" style="width: 100px; height: 100px; object-fit: cover;">
                              </div>
                              {% endif %}
                              <div class="align-items-center">
                                  <h5>Project {{ project.id }}: <span> {{ project.name }}</span></h5>
                                  <p><strong>Assigned Candidate:</strong> {{ project.user.first_name }} {{ project.user.last_name }}</p>
                                  <p><strong>Project Costing:</strong> {{ project.project_costing }}</p>
                                  {% if project.status == 'terminated' %}
                                      <p class="terminated-status">Status: Terminated</p>
                                  {% endif %}
                              </div>
                          </div>
                      </a>
                  {% endfor %}
              {% else %}
                  <div class="no-projects">
                      <p>No project progress to display.</p>
                  </div>
              {% endif %}   
            {% else %}      
            <h4 class="section-heading mt-5">Project Progress</h4>
            <p>Track your project progress</p>
              {% if candidate_projects %}
                {% for project in candidate_projects %}
                  <a href="{% url 'project_progress' project_id=project.id %}" style="text-decoration: none;color: #000;">
                    <div class="card card-custom mb-4 d-flex flex-row">
                      {% if project.image %}
                      <div class="project-image" style="margin-right: 15px;">
                        <img src="{{ project.image.url }}" alt="Project Image" class="project-image-thumbnail" style="width: 100px; height: 100px; object-fit: cover;">
                      </div>
                      {% endif %}
                      <div class="align-items-center">
                        <h5>Project {{ project.id }}: <span> {{ project.name }}</span></h5>
                        <p><strong>Client Name:</strong> {{ project.client_name }}</p>
                        <p> <strong>Project Costing:</strong> {{ project.project_costing }}</p>
        
                        {% if project.status == 'terminated' %}
                        <p class="terminated-status">Status: Terminated</p>
                        {% endif %}
                      </div>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                <div class="no-projects">
                  <p>No project progress to display.</p>
                </div>
              {% endif %}    
            {% endif %}                    
          </div>

          <div id="billingSection" class="content-section">
            <h4 class="section-heading">Billing & Payments</h4>
            <div class="card card-custom mb-4">
                <h5>Current Balance</h5>
                <div class="d-flex align-items-center">
                    <p>Your current balance is: <strong> <i class="fa-solid fa-indian-rupee-sign"></i> 5000 </strong></p>
                </div>
            </div>
            <div class="card card-custom mb-4">
                <h5>Payment Methods</h5>
                <p>Manage your payment methods:</p>
                <div class="d-flex align-items-center">
                  <button type="button" class="px-3" onclick="showPaymentMethodsModal()"><span>Add Payment Method</span></button>
                </div>

            </div>
            <div class="card card-custom mb-4">
                <h5>Billing History</h5>
                <p>Review your billing history:</p>
                <ul>
                    {% for billing in billing_history %}
                        <li>{{ billing.date }} - ${{ billing.amount }} - {{ billing.description }}</li>
                    {% endfor %}
                </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Function to show a specific content section and hide others
        function showSection(sectionId) {
          const sections = document.querySelectorAll('.content-section');
          sections.forEach(function(section) {
            section.classList.remove('active');
          });
          const selectedSection = document.getElementById(sectionId);
          if (selectedSection) {
            selectedSection.classList.add('active');
          }
        }

        // Event listeners for sidebar links
        const sidebarLinks = document.querySelectorAll('.sidebar a');
        sidebarLinks.forEach(function(link) {
          link.addEventListener('click', function(e) {
            e.preventDefault();
            const sectionId = this.id.replace('Link', 'Section');
            showSection(sectionId);

            // Remove 'active' class from all links and add to the clicked link
            sidebarLinks.forEach(function(link) {
              link.classList.remove('active');
            });
            this.classList.add('active');
          });
        });

        // Set the initial active section based on the initial active link
        const initialActiveLink = document.querySelector('.sidebar a.active');
        if (initialActiveLink) {
          const initialSectionId = initialActiveLink.id.replace('Link', 'Section');
          showSection(initialSectionId);
        }
      });

      // Function to view resume in a new window
      function viewResume(url) {
        window.open(url, '_blank');
      }
    </script>

{% endblock content %}
