{% extends "main/Layout.html" %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/service.css' %}">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <!-- hero section start -->
    <header id="expert-section" class="expert-section d-flex align-items-center position-relative py-5 ">
      <div class="wave-container">
          <svg class="wave wave1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
              <path fill="#72cbc3" fill-opacity="1" d="M0,192L80,192C160,192,320,192,480,160C640,128,800,64,960,74.7C1120,85,1280,171,1360,213.3L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
          </svg>
          <svg class="wave wave2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
              <path fill="#72cbc3" fill-opacity="0.8" d="M0,160L80,160C160,160,320,160,480,128C640,96,800,64,960,64C1120,64,1280,128,1360,160L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
          </svg>
      </div>        
      <div class="container">
          <div class="row align-items-center home-sec">
              <!-- Left Section (Text and Button) -->
                <div class="col-lg-6 expert-text mb-5">
                    <h1>{{ hero_section.heading }} <br> <span class="text-success fst-italic">{{ hero_section.sub_heading }}</span></h1>
                    <div class="col-12 col-lg-8 my-4">
                        <a href="{{ hero_section.button_url }}"><button class="px-3"><span>{{ hero_section.button_text }} <i class="fa-solid fa-arrow-right"></i></span></button></a>
                    </div>
                    <p>{{ hero_section.description }}</p>
                </div>
              <!-- Right Section (Profile Images) -->
                <div class="col-lg-6 profile-images">
                    {% if hero_section.image1 %}
                    <img src="{{ hero_section.image1.url }}" alt="Image 1">
                    {% else %}
                    <img src="{% static 'assets/nature1.jpeg' %}" alt="Image 1">
                    {% endif %}
                    {% if hero_section.image2 %}
                    <img src="{{ hero_section.image2.url }}" alt="Image 2">
                    {% else %}
                    <img src="{% static 'assets/nature1.jpeg' %}" alt="Image 2">
                    {% endif %}
                    {% if hero_section.image3 %}
                    <img src="{{ hero_section.image3.url }}" alt="Image 3">
                    {% else %}
                    <img src="{% static 'assets/nature1.jpeg' %}" alt="Image 3">
                    {% endif %}
                </div>
          </div>
      </div>
    </header>
    <!-- hero section end -->

    <!-- service section start -->
    <section class="services-section container my-5">
      <div class="row text-center">
            <h1 class="fw-bold mb-3">Our Services</h1>
            {% for service_page in service_pages %}
            <p class="lead" style=" font-size: 16px; font-weight: 400;"> {{service_page.page_description}} </p>
            {% endfor %}              
      </div>
      <div class="row align-items-center justify-content-between serve my-5">
          <div class="col-lg-4 col-md-4 col-sm-12 text-center justify-content-center">
              {% comment %} <img src="{% static 'assets/creative.jpeg' %}" alt="Services Illustration" class="img-fluid imgm rounded" style="height: auto;"> {% endcomment %}
                {% for service_page in service_pages %}
                    {% if  service_page.service_banner_image %}
                    <img src="{{ service_page.service_left_image.url }}" alt="Service left image" class="img-fluid mb-3 rounded">
                    {% else %}
                    <img src="{% static 'assets/nature1.jpeg' %}" alt="Service left Image" class="img-fluid rounded">
                    {% endif %}
                {% endfor %}
          </div>

          <!-- card -->
          <div class="col-lg-8 col-md-8 service">
              <div class="row gy-4 card-dt">
                  <!-- Loop through services and display them -->
                  {% for service in page_obj|slice:":4" %}
                      <div class="col-lg-6 col-md-6 col-sm-12 mb-4 card-i">
                          <div class="card card-div h-100">
                              <div class="card-body">
                                  <div class="front">
                                      {% if  service.icon %}
                                      <img src="{{ service.icon.url }}" alt="{{ service.name }} Icon" class="img-fluid mb-3 rounded">
                                      {% else %}
                                      <img src="{% static 'assets/nature1.jpeg' %}" alt="{{ service.name }}" class="img-fluid mb-3 rounded">
                                      {% endif %}
                                      <h5 class="card-title text-center">{{ service.name }}</h5>
                                      <p class="card-text">{{ service.description|safe|truncatewords:10 }}</p>
                                  </div>
                                  <div class="back-card">
                                      <a href="{% url 'service_candidates' service.id %}">
                                          <button class="px-3"><span>Learn More</span></button>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                  <!-- End loop -->
              </div>
          </div>
          <div class="col-12 mt-5 text-center">
            <a href="{% url "services" %}">
                <button class="px-3"><span>View All Services</span></button>
            </a>
          </div>
      </div>
    </section>
    <!-- service section end-->

    <!-- testimonial section -->
    <section class="talent-section py-5 my-5 text-center">
        <div class="container">
            <h2 class="fw-bold mb-3">Meet Our Talents</h2>
            <p class="lead" style="font-size: 16px; font-weight: 400;">
                Results-driven software engineer with 5+ years of experience in developing scalable and efficient solutions.
            </p>
            <div class="row justify-content-center gap-2 mt-5">
                {% for user in users %}
                    <!-- Flip Card -->
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 mb-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <!-- Front Side of the Card -->
                                <div class="flip-card-front">
                                    {% if user.profile_image %}
                                        <img src="{{ user.profile_image }}" alt="{{ user.first_name }} {{ user.last_name }}" class="img-fluid card-img">
                                    {% else %}
                                        <img src="{% static 'assets/candidate2.jpg' %}" alt="Default Candidate" class="img-fluid card-img">
                                    {% endif %}
                                    <h5 class="text-white mt-3" style="font-size: 16px;font-weight: 500;">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </h5>
                                    {% if user.level %}
                                        <p class="text-light" style="font-size: 14px;">Level: {{ user.level }}</p>
                                    {% endif %}
                                </div>
                                <!-- Back Side of the Card -->
                                <div class="flip-card-back">
                                    {% if user.profile_image %}
                                        <img src="{{ user.profile_image }}" alt="{{ user.first_name }} {{ user.last_name }}" class="img-fluid card-imgg">
                                    {% else %}
                                        <img src="{% static 'assets/candidate2.jpg' %}" alt="Default Candidate" class="img-fluid card-imgg">
                                    {% endif %}
                                    <h5 class="mt-3">{{ user.first_name }} {{ user.last_name }}</h5>
                                    <p class="description">{{ user.career_objective}}</p>
                                    {% if user.level %}
                                    <p class="level">Level: {{ user.level }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- View All Candidates Button -->
        <div class="mt-4">
            <a href="{% url 'all_candidates' %}" class="btn-view-profile"><button class="px-3"><span>View All Candidates</span></button></a>
        </div>
    </section>    
    <!-- testimonial section end -->


    <!-- how we work section -->
    <section class="work-section py-5 text-center">
      <div class="container">
          <div class="row text-center">
            <h1 class="fw-bold mb-3">How We Work</h1>
            <p class="lead" style=" font-size: 16px; font-weight: 400;">"Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid blanditiis eligendi qui nihil repellendus dicta sapiente."</p>
          </div>
          <div class="row justify-content-around my-5">
                {% if work_steps %}
                    {% for step in work_steps %}
                    <div class="col-md-2 col-sm-6 mb-3">
                        <div class="work-step py-3" style="height: 320px;">
                            <div class="d-flex justify-content-center align-items-center mb-4" style="border-radius: 50px; background-color: #9fc59f8a; width: 50px; height: 50px;">
                                <i class="{{ step.icon }}"></i> <!-- Use icon class from WorkStep -->
                            </div>
                            <h5>{{ step.title }}</h5>
                            <p>{{ step.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}                    
                    <div class="col-md-2 col-sm-6 mb-3">
                        <div class="work-step py-3">
                            <div class="d-flex justify-content-center align-items-center mb-4" style="border-radius: 50px; background-color: #9fc59f8a; width: 50px; height: 50px;">
                                <i class="fas fa-sign-in-alt" ></i>
                            </div>
                            <h5>Login</h5>
                            <p>The challenge facing online banks is to meet the needs.</p>
                        </div>
                    </div>
                {% endif %}                
          </div>
      </div>
    </section>
    <!-- how we work section  end-->

    <!-- contact -->
    <section class="contact-section container my-5">
        <div class="row align-items-center justify-content-between mt-4 cont-ct">
            <div class="col-lg-6 col-md-8 col-12 text-center justify-content-center">
                {% if contact_info.contact_image %}
                    <img src="{{ contact_info.contact_image.url }}" alt="Contact Illustration" class="img-fluid contact-imge rounded-3">
                {% else %}
                    <img src="{% static 'assets/LOGOWHITE.png' %}" alt="Contact Illustration" class="img-fluid contact-imge rounded-3">
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-4 contact">
                <div class="contact-info">
                    <h2 class="mb-3">{{ contact_info.description }}</h2>
                    <h4 class="mb-3">{{ contact_info.name }}</h4>
                    <p>{{ contact_info.phone }}</p>
                    <p>{{ contact_info.email }}</p>
                    <a href="mailto:{{ contact_info.email }}"><button class="px-3"><span>{{ contact_info.button_text }}</span></button></a>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block extra_js %}
    <!-- Vanta.js Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
    
    <script>
        VANTA.WAVES({
        el: "#expert-section",  // Match the ID of the section
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0xb1b1b1
        });
    </script>    
{% endblock %}