{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        Layout
      {% endblock %}
    </title>
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
    </style> -->
    
    <script src="https://kit.fontawesome.com/ff6ad5e464.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block head_css %}
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/inputfield.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/talent.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% comment %} navbar section {% endcomment %}
    <div class="ezy__nav2 light ">
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container-fluid nav shadow-sm rounded">
                <a class="navbar-brand" href="/" style="margin-left: 20px;">
                    <img src="{% static 'assets/logoo.png' %}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <span></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText" style="margin-right: 20px;">
                  <ul class="navbar-nav ms-auto mb-2 align-items-center  mb-lg-0 mt-4 mt-lg-0">
                      {% if user.is_authenticated %}
                        {% if request.session.user_role == "Candidate" %}
                          <li class="nav-item"><a class="nav-link" href="{% url "studentpost" %}">Posts</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url "consulting" %}">Contact Us</a></li>
                          <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" style=" border: 2px solid #000; border-radius: 50px;" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user" id="profile_icon" style="font-size: 24px;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url "profiles" %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url "settings" %}">Setting</a></li>
                                <li><a class="dropdown-item" href="{% url "messages" %}">Message</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                          </li>
                        {% endif %}

                        {% if request.session.user_role == "Recruiter" %}
                          <li class="nav-item text-dark"><a class="nav-link" href="{% url "services" %}">Services</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url "talents" %}">Talents</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url "consulting" %}">Contact Us</a></li>
                          <li class="nav-item dropdown">
                            <a class="nav-link" style=" border: 2px solid #000; border-radius: 50px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user" id="profile_icon" style="font-size: 24px;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url "profiles" %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url "settings" %}">Setting</a></li>
                                <li><a class="dropdown-item" href="{% url "messages" %}">Message</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                          </li>
                        {% endif %}
                      {% else %}
                          <li class="nav-item"><a class="nav-link" href="{% url "services" %}">Services</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url "consulting" %}">Contact Us</a></li>
                          <ul class="navbar-nav flex-row mb-2 mb-lg-0 ms-lg-3">
                              <li class="nav-item me-2">
                                  <a href="{% url 'signup' %}"><button class="px-3"> <span>Sign Up</span></button></a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'login' %}"><button class="px-3"> <span>Log In</span></button></a>
                              </li>
                          </ul>
                      {% endif %}
                  </ul>
                </div>
            </div>
        </nav>
    </div>
    {% comment %} navbar section end {% endcomment %}


    {% block content %}

    {% endblock %}


    {% comment %} Footer Section {% endcomment %}
    <section class="ezy__footer2 light">
        <div class="container">
          <div class="row text-center text-sm-start">
            <div class="col-lg-3">
                <a class="footer-brand" href="#">
                    <img src="{% static 'assets/logoo.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-sm-6 col-lg-2 mt-4 mt-lg-0">
              <h5>Quick Links</h5>
              <ul class="nav flex-column ezy__footer2-quick-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
            
            <div class="col-sm-6 col-lg-2 mt-4 mt-lg-0">
              <h5>Job Info</h5>
              <ul class="nav flex-column ezy__footer2-quick-links">
                <li><a href="#">Select</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Payment</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0">
              <h5>Contact Us</h5>
              <ul class="nav flex-column ezy__footer2-quick-links">
                <li><a href="#">Bhubaneswar, India</a></li>
                <li><a href="#">suryamade@gmail.com</a></li>
                <li><a href="#">+880 1742-066592</a></li>
                <li>
                  <div class="d-flextext-lg-end mt-1">
                    <ul class="ezy__footer2-social nav">
                      <li>
                        <a href="" class="border d-flex justify-content-center align-items-center rounded-circle"><i
                            class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="" class="border d-flex justify-content-center align-items-center rounded-circle"><i
                            class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="" class="border d-flex justify-content-center align-items-center rounded-circle"><i
                            class="fab fa-pinterest-p"></i></a>
                      </li>
                      <li>
                        <a href="" class="border d-flex justify-content-center align-items-center rounded-circle"><i
                            class="fab fa-linkedin-in"></i></a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="row d-flex justify-content-center align-items-center text-center text-lg-start">
            <div class="col-lg-4">
              <p class="mb-0 mt-1">Copyright &copy; Easy Frontend, All rights reserved</p>
            </div>
          </div>
        </div>
    </section>
    {% comment %} footer section end {% endcomment %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/account_creation.js' %}"></script>
  <script src="{% static 'js/message.js' %}"></script>
  <script src="{% static 'js/setting.js' %}"></script>
  <script src="{% static 'js/profile.js' %}"></script>
      <!-- Initialize CKEditor -->
      {% comment %} <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Replace the <textarea> with CKEditor instance
            ClassicEditor
                .create(document.querySelector('#projectDescription'))
                .catch(error => {
                    console.error(error);
                });

            document.getElementById('postBlogForm').addEventListener('submit', function(event) {
                event.preventDefault();
                // Add your form submission logic here
                alert('Form submitted successfully!');
            });
        });
      </script> {% endcomment %}
{% endblock %}
</body>
</html>