{% extends "main/Layout.html" %}
{% load static %}

{% block title %}
Candidate for {{service.name}}
{% endblock %}


{% block content %}   
   
   <!-- Candidates section start -->
   <section class="ezy__candidates light" id="ezy__candidates">
        <div class="container">
            <div class="row ezy__candidates-separator">
                <!-- Start: Section Heading -->
                <div class="col-12 mb-5 text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-5">
                            <h3 class="ezy__candidates-heading">Candidates for {{ service.name }}</h3>
                        </div>
                    </div>
                </div>
                <!-- End: Section Heading -->

                <div class="row">
                    {% for candidate in candidates %}
                        <div class="card ezy__service23-card  col-md-6 col-lg-4 m-5 text-center">
                            <div class="ezy__testimonial5-item border-1 rounded-2 py-lg-5 mt-4 text-center">
                                {% if candidate.profile_image %}
                                    <img class="post_avatar" src="{{ candidate.profile_image.url }}" alt="{{ candidate.user.username }}">
                                {% else %}
                                    <img class="post_avatar" src="{% static 'assets/candidate2.jpg' %}" alt="avatar">
                                {% endif %}
                                <div class="ezy__testimonial5-content mt-3">
                                    <h4 class="mb-4">{{ candidate.user.first_name }} {{ candidate.user.last_name }}</h4>
                                    <p class="mb-4 ezy__testimonial5-rating">{{ candidate.skills }}</p>
                                    <p class="mb-4 ezy__testimonial5-rating">{{candidate.education}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>    
                <!-- End: .row -->
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: .container -->
    </section>
    <!-- Candidates section end -->
{% endblock %} 