{% extends "main/Layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<section class="ezy__signup14 light d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="ezy__signup14-form-card p-3">
            <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 p-2">
              <h2 class="ezy__signup14-heading">RESET PASSWORD</h2>
              <form class="mt-4 w-100" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="px-3"><span>Reset Password</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
