{% extends "main/Layout.html" %}

{% block title %}
Password Reset Complete
{% endblock %}

{% block content %}
<section class="ezy__signup14 light d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="ezy__signup14-form-card p-3">
            <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 p-2">
              <h2 class="ezy__signup14-heading">PASSWORD RESET COMPLETE</h2>
              <p>Your password has been reset successfully. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
