    .contact-section {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        background-color: #f9f9f9;
        box-shadow: 0px 0px 5px #d1caca;
        border-radius: 15px;
        padding-block: 30px;
        display: flex;
        width: 800px;
        gap: 4em;
        margin-right: 102px;
        align-items: center;
        justify-content: space-between;
    }

    .form-control {
        background-color: #d9f1e5;
        border: none;
        margin-bottom: 20px;
    }

    .btn-submit {
        background-color: black;
        color: white;
        padding: 10px 30px;
        border: none;
        border-radius: 20px;
    }

    .btn-submit:hover {
        background-color: #333;
    }

    .support-info img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .support-info h5 {
        font-weight: bold;
    }

    .support-info p {
        font-size: 1.3rem;
    }

    .detail {
        margin-bottom: 30px;
    }

    .image img {
        border-radius: 15px;
        width: 350px;
        height: 450px;
    }

    .name-form {
        display: flex;
        gap: 1em;
    }

    .form-content {
        margin-left: 60px;
    }

    .form-content input {
        padding: 10px;
    }

    .image-contact {
        display: flex;
        justify-content: center;
        gap: 4em;
    }

    .image-contact img {
        width: 352px;
        height: 440px;
        border-radius: 20px;
        object-fit: cover;
    }

    @media (max-width:992px) {
        .form-container {
            width: 600px;
            gap: 3em;
            margin-right: 42px;
        }

        .form-content {
            margin-left: 35px;
        }

        .image img {
            width: 270px;
        }

        .image-contact img {
            width: 300px;
        }

        .image-contact {
            gap: 3em;
        }

        .support-info h2 {
            font-size: 25px;
        }

        .support-info p {
            font-size: 1rem;
        }
    }

    @media(max-width:768px) {
        .image {
            display: none;
        }

        .form-container {
            width: 500px;
            margin-right: 0;
        }

        .name-form {
            flex-direction: column;
            gap: 0;
        }

        .form-content {
            width: 85%;
            /* margin-inline: 55px; */
            margin-block: 25px;

        }
    }

    @media(max-width:576px) {
        .form-container {
            width: 350px;
        }

        .form-content {
            margin-inline: 32px;
        }

        .image-contact img {
            display: none;
        }

        .image-contact {
            gap: 0;
        }

        .detail {
            margin-bottom: 0;
        }

    }

    /*-- map -- */
    .map-section {
        text-align: center;
        padding: 50px 0;
    }

    .map-section img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .map-description {
        width: 700px;
        color: #6c757d;
        font-size: 1.1rem;
        margin-bottom: 20px;
        font-weight: 600;
    }

    h2 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .iframe {

        border-radius: 15px;
    }
