.service {
  justify-content: center;
  align-items: center;
  display: flex;
}
.service-title {
 font-weight: bold;
 margin-bottom: 2rem;
 text-align: left;
 margin-left: 13px;
}
.service-description {
 text-align: left;
 margin-left: 13px;
 margin-bottom: 3rem;
 font-size: 1.1rem;
 margin-top: 10px;
}
.blog-title {
 font-weight: bold;
 margin-bottom: 2rem;
}
.cards {
 transition: 400ms;
 border: none;
}
.card-i{
 display: flex;
 justify-content: center;
}
.cards:hover {
 transform: scale(1.06);
}
.card-img-top {
 height: 200px;
 object-fit: cover;
 border-radius: 20px;
}
.blog-section {
 margin-top: 4rem;
}
.l-img,
.r-img {
 display: flex;
 justify-content: center;
 align-items: center;
}
.l-img img,
.r-img img {
 height: 650px;
 width: 400px;
 object-fit: cover;
}
.image-container img {
 border-radius: 10px;
 height: 350px;
 width: 100%;
 object-fit: cover;
}
.detailed {
 display: flex;
 justify-content: space-between;
}
.detail {
 display: flex;
 gap: 4px;
 align-items: center;
}
.detail img {
 height: 50px;
 width: 50px;
 border-radius: 50%;
 object-fit: cover;
}
.images-img {
 display: flex;
 gap: 10px;
 align-items: center;
}
.card-div {
 perspective: 1000px;
 position: relative;
 border: none;
 width: 280px;
   height: auto;
   padding: 16px;
 text-align: center;
 margin: 16px 0;
 text-align: center;
}
.card-body {
 position: relative;
 width: 100%;
 height: 100%;
 transform-style: preserve-3d;
 transition: transform 0.8s;
}
/* Front card styling */
.front {
 position: relative;
 z-index: 1;
 transform: rotateY(0deg);
}
.front img{
   height: 100px;
   width: 100%;
 object-fit: cover;
}
/* Back card styling */
.back-card {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 backface-visibility: hidden;
 backdrop-filter: blur(1px);
 transform: rotateY(180deg);
 z-index: 2;
}
/* Flip card on hover */
.card-div:hover .card-body {
 transform: rotateY(180deg);
}
/* Styling for button */
.back-card button {
 display: inline-block;
 padding: 10px 20px;
 font-size: 1.2rem;
 color:white;
 border: none;
 transition: background-color 0.3s;
}

