.card{
    border-radius: 10px;
}

.signup-option {
    transition: transform 0.3s;
}
.signup-option:hover {
    transform: scale(1.05);
}
.signup-option img {
    max-width: 100%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.signup-description {
    min-height: 150px;
}

