{% extends "main/Layout.html" %}

{% load static %}

{% block title %}
Admin Login
{% endblock %}

{% block extra_css %}
<style>
  .text-error {
    font-size: 12px; /* Adjust the size as needed */
    text-align: left;
    color: #E76F51;
  }

  .bg-success {
    font-size: 12px; /* Adjust the size as needed */
  }
</style>
{% endblock %}

{% block content %}
<section class="ezy__signup14 light d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="ezy__signup14-form-card p-3">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="d-flex align-items-center justify-content-center h-100">
                  <img src="{% static 'assets/admin.jpg' %}" alt="image" />
                </div>
              </div>
              <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 p-2">
                  <h2 class="ezy__signup14-heading">ADMIN LOGIN</h2>
                  <form class="mt-4" method="post">
                    {% csrf_token %}
                    <div class="form-group position-relative mb-3">
                      {{ form.username }}
                      <label class="user-label" for="username">Email or Phone</label>
                      {% if form.username.errors %}
                          <div class="text-error small">{{ form.username.errors|striptags }}</div>
                      {% endif %}
                    </div>
                    <div class="form-group position-relative mb-3">
                      {{ form.password }}
                      <label class="user-label" for="password">Password</label>
                      {% if form.password.errors %}
                          <div class="text-error small">{{ form.password.errors|striptags }}</div>
                      {% endif %}
                    </div>
                    <div class="form-group form-check d-flex">
                      <div>
                        <input type="checkbox" class="form-check-input" id="showPasswordCheckbox">
                      </div>
                      <label class="form-check-label" for="showPasswordCheckbox">Show Password</label>
                    </div>
                    <button type="submit" class="px-3"><span>Login</span></button>
                    <div class="text-center mt-3">
                      <p class="mb-0 small">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                      </p>                      
                    </div>
                    <!-- Messages -->
                    {% for Admin_lmsg in messages %}
                      <div class="text-danger small">{{ Admin_lmsg }}</div><br>
                    {% endfor %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
