
{% extends "main/Layout.html" %}

{% load static %}

{% block title %}
signUp
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<link rel="stylesheet" href="{% static 'css/Layout.css' %}">
<link rel="stylesheet" href="{% static 'css/social_Icon_list.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Join Our Community</h1>
    <p class="lead">Whether you are looking for a job or seeking the best candidates, we have got you covered. Choose your role and get started today!</p>
    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <div class="card signup-option d-flex align-items-center">
                <img src="{% static 'assets/candidate2.jpg' %}" class="card-img-top mt-3" alt="Candidate Image" style="width: 100px; height: 100px;object-fit: cover; border-radius: 50px;">
                <div class="card-body">
                    <h2 class="card-title">Sign Up as a Candidate</h2>
                    <p class="card-text signup-description">Create your profile, upload your resume, and start applying for jobs that match your skills and interests. Join a network of top employers looking for talent like you.</p>
                    <a href="{% url 'candidateSignUp' %}" class="button"><button class="px-3"><span>Sign Up as a Candidate</span></button></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card signup-option d-flex align-items-center">
                <img src="{% static 'assets/requiter2.jpg' %}" class="card-img-top mt-3" alt="Recruiter Image" style="width: 100px; height: 100px;object-fit: cover; border-radius: 50px;">
                <div class="card-body">
                    <h2 class="card-title">Sign Up as a Client</h2>
                    <p class="card-text signup-description">Post job openings, search for candidates, and manage your recruitment process efficiently. Find the right talent to drive your company's success.</p>
                    <a href="{% url 'requiterSignUp' %}" class="button"><button class="px-3"><span>Sign Up as a Client</span></button></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>If you already have an account! <a href="{% url "login" %}" style="font-style: italic;"> Login</a></p>
    </div>
</div>
{% endblock %}    


