{% extends "main/Layout.html" %}

{% load static %}

{% block title %}
Login
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/log_in.css' %}">
{% endblock %}

{% block content %}
<!-- content -->
<div class="content">
    <div class="login-form">
        <div class="login-img">
            <img src="{% static 'assets/requitersignup.jpg' %}" alt="image">
            <div class="personal-info">
                <h4>Welcome Back</h4>
                <p>Enter your Email Or Phone and <br>
                    <div class="text-center detail">Password to Sign In</div>
                </p>
                <div class="text-center mt-4 signin-Btn">
                    <a href="{% url 'signup' %}"><button class="px-3"><span>Sign Up</span></button></a>
                </div>
            </div>
        </div>

        <div class="login-details">
            <h2 class="text-center">Login to your Account</h2>

            {% comment %} <ul class="acc-page">
                <li class="list"><a href="google"><i class="fa-brands fa-google"></i></a></li>
                <li class="list"><a href="github"><i class="fa-brands fa-github"></i></a></li>
                <li class="list"><a href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
            <p class="text-center signup-para">or use email and phone to sign up</p> {% endcomment %}
            
            <!-- Start of form -->
            <form method="post">
                {% csrf_token %}
                <div class="login-contact">
                    <!-- Username field with applied classes -->
                    <div class="form-group position-relative mb-3">
                      {{ form.username }}
                      <label class="user-label">Email or Phone</label>
                      {% if form.username.errors %}
                          {{ form.username.errors|striptags }}
                      {% endif %}
                    </div>
                    <div class="form-group position-relative mb-3">
                      {{ form.password }}
                      <label class="user-label">Password</label>
                      {% if form.password.errors %}
                          <div class="text-error small">{{ form.password.errors|striptags }}</div>
                      {% endif %}
                    </div>
                    <div class="form-group form-check d-flex">
                      <div>
                          <input type="checkbox" class="form-check-input" id="showPasswordCheckbox">
                      </div>
                      <label class="form-check-label" for="showPasswordCheckbox">Show Password</label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="px-3"><span>Sign In</span></button>
                    </div>
                </div>
            </form>
            <!-- End of form -->

            <div class="py-2 text-center recruiter">
                <a href="{% url 'candidatelogin' %}" class="text-decoration-none text-black">
                    <span>Sign in as a Candidate</span>
                    <i class="fa-solid fa-arrow-right arrow"></i>
                </a>
            </div>

            <div class="py-2 text-center recruiter mt-2">
                <div class="signin">Dont have an account ?
                    <a href="{% url "requiterSignUp" %}" class="text-decoration-none text-black">Sign Up <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
